[Unit]
Description=Switch the audio input to use the RNNoise filter
After=pipewire-rnnoise.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'wpctl set-default $(wpctl status | grep output.rnnoise_source | awk '\''{print $2}'\'' | cut -d. -f1)'

[Install]
WantedBy=default.target
