[Unit]
Description= Read-only service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/read-only.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
