[Unit]
Description=Remount Root Filesystem as Read-Only
ConditionPathExists=/etc/read-only.sh
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/mount -o remount,ro /
ExecStop=/bin/mount -o remount,rw /
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
